body {
    background-color: rgb(255, 255, 255);
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Fredoka One', cursive;
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 5px ;
    background-color: rgb(225, 225, 225);
    color: rgb(28, 132, 139);

}

.cabecalho img {
    max-width: 250px;
    border-radius: 15px;
    border: 3px solid rgb(255, 140, 0);
    margin-top: 5px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(28, 132, 139);
    align-items: center;
    font-family: 'Fredoka One', cursive;
}

.item {
    background-color:  rgb(170, 221, 224);
    padding: 10px;
    border-radius: 5px;
    border: 3px solid rgb(187, 239, 242);
    margin: 5px;
}

.navbar a {
    color: black;
    text-decoration: none;

}

.navbar a:hover {
    color: black;
    text-decoration: none;
    background-color: rgb(187, 239, 242);
    border-radius: 5px;
    transition: 1s;

}

.cabinclude {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Fredoka One', cursive;
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 20px ;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ident {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin-top: 20px ;
    justify-content: space-between;
}

.item1 input{
    resize: horizontal;
    size: 2;
}

.itens {
    margin-bottom: 10px;
}

.teste {
    background-color: rgb(202, 165, 165);
}
